.child_one{
    display: flex;
    flex-direction: column;
}
.child{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: aliceblue;
}
.short-spacing {
    margin: 0; 
    display: flex;
    justify-content:flex-end;
    padding-right: 10px;
}
.short-spacing_one{
    margin: 0; 
    display: flex;
    color: #F06C25;
    text-decoration: underline;
    text-decoration-color: #F06C25;
    justify-content:flex-end;
    padding-right: 10px;
}
