.back{
    padding-top: 180px;
    margin-left: 100px;
    margin-right: 150px;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.just{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
h1{
    display: flex;
    gap: 10px;
}
h2{
    display: flex;
    justify-content: space-around;
}
.ban{
    background-color: rgb(113, 79, 20);
    border-radius: 10px;
    padding-left: 5px;
}
.ban div{
    display: flex;
    justify-content:center;

}
button{
    background-color: #9b5337;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}
.ground{
    background-size: 100%;
    padding: 10px 10px 10px 10px ;
}
.ban2{
    background-color: #ffbd80;
    border-radius: 10px;
    padding-left: 10px;
}
.day{
    display: flex;
    padding-left: 100px;
    padding-top: 30px;
    font-size: 50px;
    background-color: #f7eada;
    margin-bottom: 50px;
    gap: 20px;
    padding-bottom: 30px;
    
}
.day p{
    width: 124px;
    height: 124px;
    border-radius: 50%;
    border: 5px solid rgb(14, 9, 9);
    display: flex;
    font-size: 80px;
    justify-content: center;
}
.menu{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}
.menu div{
    display: flex;
    justify-content: space-between;
    
}
.menu div div {
    display: flex;
    flex-direction: column;
    background-color: rgb(113, 79, 20);
    border-radius: 10px;
} 
.imgd{
    width: 200px;
    height: 120px;
    padding: 10px 10px 0px 10px;
}
.menu div div div {
    width: 250px;
    height: 170px;
}
.about{
    display: flex;
    background-color:#f7eada;
    padding: 30px 100px 30px 100px;
    gap: 200px;
    font-size: 26px;
    margin-bottom: 60px;
}
.about div h1{
    margin-bottom: 20px;
}
.about div h3{
    padding-top: 20px;
    padding-bottom: 20px;
}
.about div div {
    padding-top: 20px;
}
.about1{
    font-size: 26px;
    background-color: #2f220a;
    color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}
.can{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 70px;
}
.can1{
    display: flex;
}
.can2{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
}
h3{
    margin-bottom: 20px;
    color: #b3a296;
}
.can3{
    color: #825e55;
    background-color: #f6eada;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.can4{
    color: #ffffff;
    background-color: #825e4c;
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}